@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
}

/* Global Text Size */

.title-text{
    font-weight: 700;
    font-size: 4rem;
}


/* Global Text Color */
.teal{
    color: #95E1D3;
}

.peach{
    color: #F38181;
}


/* Navbar Section */
.navbar {
    padding: 1.5% 15%;
}

.navbar-logo {
    width: 3.5rem;
    margin-right: 0.5rem;
}

.navbar-brand{
    font-weight: 700;
    font-size: 2rem;
}

.add-img-btn {
	background-color: #F38181;
	border: none;
	border-radius:3rem;
}

/* Main content */
.mainbox{
    margin-top: 8rem;
}



/* Login page */
.login-title {
	font-weight: 500;
	font-size: 4rem;
}

.loginbtn{
	background-color: #95E1D3;
	border: none;
	border-radius: 3rem;
}


/* Sign Up section */

.signup-box {
	border: 3px solid #95E1D3;
	padding: 2rem;
	margin-top: 3rem;
	border-radius: 2rem;
}

.signup-btn {
	background-color: #F38181;
	border: none;
	border-radius: 3rem;
}



/* Dashboard Section */
.main-gallery {
	margin: 0 5rem;
}

.mainbox-dash {
	margin-top: 2.5rem;
}



.img-prev {
	width: 300px;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

/* Add image section */
.form-box{
	border: 2px solid #808080;
	margin: 5rem auto 0;
	border-radius: 1.5rem;
}

.upload-box {
	height:25rem;
	background-color: #F38181;
  	outline: 2px dashed white;
  	outline-offset: -10px;
  	border-radius:2rem;
}

.upload-choose{
	margin-top: 10rem;
}

.upload-choose-icon{
	width:8rem;
	height:8rem;
	cursor: pointer;
}

.upload-form {
	border-radius:2rem;
}

.upload-btn {
	background-color: #F38181;
	border: none;
	border-radius:3rem;
}



/* ========== Show One Picture section =============== */

.img-showOne {
	border-radius: 1.2rem;
}

.card {
	border-radius: 2rem;
}

.showOne-box {
	max-width: 1040px;
	
	margin-top: 2rem;
}

.sharebtn{
	width:3rem;
}

.like-btn{
	width: 2rem;
}

.comment-box{
	border-radius: 1.6rem;
}

.card-body {
	max-height:500px;
	overflow: hidden;
	overflow-y: auto;
}

.comment-title {
	display: inline-block;
}


.arrow-down {
	width:1rem;
}

.comment-btn {
	background-color: #F38181;
	border: none;
	border-radius:3rem;
}

.edit-btn {
	border-radius:3rem;
}

.delete-img-btn {
	border-radius: 3rem;
}

.img-card-title{
	font-weight: 600;
	font-size: 2.5rem;
}

.img-card-desc {
	font-weight: 300;
	font-size: 1.3rem;
}



/* Comments Section */
.user-comment-card {
	width:1.8rem;
	max-height:1.8rem;
	/* border: 3px solid #F38181;
	padding: 0.3rem;
	border-radius: 50%; */
}

.username {
	font-weight: 700;
}


.heart-icon {
	width:1.5rem;
	max-height: 1.5rem;
	margin-top:0.3rem;
}

.like-comment-icons {
	margin-top: -1rem;
}

.edit-cmt-btn {
	border: none;
	border-radius: 3rem;
	background-color: #F38181;
	font-size:0.8rem;
}

.del-cmt-btn {
	border: none;
	border-radius: 3rem;
	font-size: 0.8rem;
}

/* Edit comment section */
.edit-comment-box {
	border-radius: 3rem;
	height:4rem;
    width:10rem;
    word-break: break-word;
}



/* ================ Edit Picture Section ================ */
.edit-img-title {
	color: #6c757d;
	font-size: 2.5rem;
	font-weight: 700;
}

.edit-img-description {
	font-size: 1rem;
	color: #6c757d;
	font-weight: 300;
}

.edit-confirm-btn {
	border-radius: 3rem;
	border: none;
	background-color: #F38181;
	
} 

.cancel-btn {
	border-radius: 3rem;
	border: none;
	background-color: #95E1D3;
}

.user-img-card {
	width:2.5rem;
	border: 3px solid #F38181;
	padding: 0.3rem;
	border-radius: 50%;
}

.user-img-name{
	display:inline-block;
	padding-top:1rem;
}




/* ================= SHOW ONE USER PROFILE ================= */

.user-card {
	margin-bottom: 5rem;
}

.user-profile-icon {
	width: 7rem;
	border: 5px solid #F38181;
	border-radius: 50%;
	padding: 0.5rem;
}



/*  */









